* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Jost', sans-serif;
    color: #696969;
    background-color: #fff;
}
/* header  */
header {
    position: fixed;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #fff;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
.header__container {
    max-width: 1200px;
    margin: auto;
}

.navbar h1 a{
    font-size: 34px;
    font-weight: 600;
    text-transform: capitalize;
    color: #189a46;
}
.navbar-nav .active .nav1{
    color: #189a46;
}
.nav-item .nav-link{
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px;
    margin-right: 10px;
    font-size: 1.2em;
    font-weight: 400;
    position: relative;
    color: #000c04;
}
.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

#myBody {
    background-color: black;
}

#switchButton {
    background-color: white;
}

#switchButton .gg-sun {
    display: none;
}

#switchButton .gg-moon {
    display: block;
}

/* Dark Theme*/
.dark#myBody {
    background-color: white;
}

.dark #switchButton {
    background-color: black;
}

.dark #switchButton .gg-sun {
    display: block;
    color: white;
}

.dark #switchButton .gg-moon {
    display: none;
}

.dark .header__content {
    background-color: black;
    color: white;
}

.icon {
    float: right;
    position: fixed;
    right: 0px;
    top: 70px;
    width: 90px;
    z-index: 99999;
    text-align: center;
}

.icon i {
    background: #0D1326;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #e6ebff;
    border-radius: 50px;
    font-size: 26px;
    cursor: pointer;
    opacity: .5;
}

.icon3 {
    display: flex;
    align-items: center;
}

.icon2 input {
    display: none;
}

.icon2 {
    display: inline-block;
    position: relative;
    width: 60px;
    margin: 0;
}
.btn{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}
.btn .gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(1);
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom: 2px solid transparent;
    border-radius: 50%;
}

.gg-moon::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px;
    border-radius: 50%;
}

.gg-sun {
    position: relative;
    transform: scale(1);
    height: 24px;
    background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px;
    border: 6px solid transparent;
    width: 24px;
}

.gg-sun::before {
    content: "";
    position: absolute;
    height: 2px;
    border-right: 4px solid;
    border-left: 4px solid;
    left: -6px;
    top: 5px;
    transform: rotate(-45deg);
    width: 24px;
}

.gg-sun::after {
    transform: rotate(45deg);
    content: "";
    position: absolute;
    height: 2px;
    border-right: 4px solid;
    border-left: 4px solid;
    left: -6px;
    top: 5px;
    width: 24px;
}

.nav-link::before {
    position: absolute;
    content: '';
    width: 0px;
    height: 1px;
    bottom: 13px;
    transition: all .5s;
    background-color: #189a46;
}

.nav-link:hover::before {
    width: 100%;
}

.nav-link:hover {
    color: #189a46;
}

/* carousel  */
.slider img {
    object-fit: cover;
    height: 100vh;
}
.slider {
    position: relative;
    z-index: 0;
}

.slider::before {
    content: "";
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #0c0c0c;
    opacity: .6;
}

.carousel-caption h5 {
    font-size: 66px;
    line-height: 76px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}
.carousel-caption p{
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 30px;
    opacity: 0.9
}
.slider .carousel-caption .btn{
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius: 10px;
}
.slider .carousel-caption .btn1{
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius: 10px;
    background-color: #fff;
    color: #189a46
}
.slider .carousel-caption .btn2{
    border: 2px solid #fff;
    color: #fff;
}
.carousel{
    position: relative;
}
.slider .carousel-caption{
    position: absolute;
    left: 20px;
    right: 55%;
}



/*! pricing */
.sub-title{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: red;
  }
  .hny-title{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
  }
  .hny-title span{
    font-weight: 100;
  }
.w3l-pricing-7-main{
    background:rgb(249, 247, 254,1);
}
.w3l-pricing-7-main h3.heading{
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    color: white;
    font-weight: 400;
}
.w3l-pricing-7-main .pricing-sec-7{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 5% auto;
    margin-top: 0;
    width: 90%;
}
.w3l-pricing-7-main ul.links{
    min-height: 120px;
}
.w3l-pricing-7-bottom{
    text-align: center;
    padding: 1em;
}
.w3l-pricing-7-top{
    text-align: center;
}
.w3l-pricing-7-main h5{
    font-size: 15px;
    line-height: 20px;
    color: #189A46;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 700;
    display: inline-block;
    padding: 8px 20px;
    background: white;
    border-radius: 10px;
}
.w3l-pricing-7-main .pricing-gd-left.active h6,
.w3l-pricing-7-main .pricing-gd-left.active h4{
  color: white;
}
.w3l-pricing-7-main .pricing-gd-left.active h4 span{
    color: #eee;
}
.w3l-pricing-7-main h6{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
}
.pricing-gd-left.pric-7.active .btn-style{
    color: white;
    background-color: #189A46;
}
.w3l-pricing-7-main p.para {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}
.pricing-gd-left.pric-7.active p.para{
    color: #eee;
}
.w3l-pricing-7-main h4 label{
    font-size: 25px;
    vertical-align: text-top;
}
.w3l-pricing-7-main h4{
    font-size: 40px;
    line-height: 45px;
    margin: 15px 0 20px;
    text-align: center;
    font-weight: 600;
    color: #189A46;
}
.w3l-pricing-7-main h4 span{
    font-size: 16px;
    line-height: 25px;
    color: #999;
    font-weight: 400;
}
.w3l-pricing-7-main p.lists{
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    align-self: center;
    padding-top: 6px;
}
.w3l-pricing-7-main ul.links li{
    list-style: none;
    margin-bottom: 5px;
    color:#304659;
}
.w3l-pricing-7-main .pricing-gd-left{
    background: white;
    border-radius: 6px;
    align-self: center;
}
.pricing-gd-left.pric-7.active .w3l-pricing-7-top{
    padding: 3em 2.5em 0.5em;
    background: #189A46;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.pricing-gd-left.pric-7.active .w3l-pricing-7-bottom{
    padding: 2em 2.5em 3.5em;
}
.w3l-pricing-7-main .pric-7-1 .w3l-pricing-7{
    padding: 3.5em 2.5em;
    border-right: 0;
}
.w3l-pricing-7-main .pric-7-2 .w3l-pricing-7{
    padding: 3.5em 2.5em;
    border-left: 0;
}
.w3l-pricing-7-main .pricing-gd-left.active{
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
    z-index: 1;
    margin: 0;
    box-shadow: 0 10px 30px 0 rgba(17, 17, 17, 0.09);
    border-radius: 6px;
}
.w3l-pricing-7-main .buy-button{
    margin-top: 2em;
}
.w3l-pricing-7-main .copy-right p{
    color: #ccc;
    font-size: 17px;
}
.w3l-pricing-7-main .copy-right p a{
    color: white;
}
.w3l-pricing-7-main .copy-right p a:hover{
    color: #189A46;
}
.buy-button .btn-primary{
    color: white;
    background-color: #189A46;
    border-color: #189A46;
  }
  .buy-button .btn-primary:hover{
    color: white;
    background-color:#116E32;
    border-color:#116E32;
  }
  .buy-button a:hover{
    text-decoration: none;
  }
/* button style */
.buy-button .btn-style{
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    border-radius: 10px;
}
